{{template "header"}}
<div class="text-center mb-3">
  <h1>SongVote</h1>
  <p>Add songs using the form on the right.</p>
  <p>Vote for your favorites by clinking the Vote button next to the song.</p>
  <p>Veto the ones you hate with the Veto button, but use your vetoes wisely!</p>
</div>

<div class="row">
  <div class="col-8">
    {{template "songTable" .}}
  </div>
  <div class="col-4">
    {{template "addSongForm"}}
  </div>
</div>

{{template "footer"}}
