{{template "header"}}

<h1>SongVote</h1>

<div class="row">
  <div class="col-8">
    {{template "songTable" .}}
  </div>
  <div class="col-4">
    {{template "addSongForm"}}
  </div>
</div>

{{template "footer"}}
