{{template "header"}}
<h2>Login</h2>
<form action="/api/login" method="post">
  {{template "username_pw_form"}}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{{template "footer"}}